In [1]:
import pandas as pd

In [7]:
aisles = pd.read_csv("data/aisles.csv")
departments = pd.read_csv("data/departments.csv")
order_products_prior = pd.read_csv("data/order_products__prior.csv")
order_products_train = pd.read_csv("data/order_products__train.csv")
orders = pd.read_csv("data/orders.csv")
products = pd.read_csv("data/products.csv")

In [8]:
aisles.head()
departments.head()
order_products_prior.head()
orders.head()
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [9]:
aisles.head()
departments.head()
order_products_prior.head()
orders.head()
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [11]:
order_products_prior_sample = order_products_prior.sample(200000)

In [12]:
df = order_products_prior_sample.merge(products, on="product_id", how="left")
df = df.merge(aisles, on="aisle_id", how="left")
df = df.merge(departments, on="department_id", how="left")

df.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department
0,502573,13176,1,1,Bag of Organic Bananas,24,4,fresh fruits,produce
1,1027186,17948,4,1,Frozen Organic Wild Blueberries,116,1,frozen produce,frozen
2,3070905,42240,5,0,Ultra Soft Facial Tissues,54,17,paper goods,household
3,2728405,3390,1,1,Papaya,24,4,fresh fruits,produce
4,1310977,47766,2,1,Organic Avocado,24,4,fresh fruits,produce

In [13]:
top_produtos = (
    df.groupby("product_name")["add_to_cart_order"]
      .count()
      .sort_values(ascending=False)
      .head(10)
)

top_produtos

product_name
Banana                    2972
Bag of Organic Bananas    2336
Organic Strawberries      1582
Organic Baby Spinach      1478
Organic Hass Avocado      1314
Organic Avocado           1104
Large Lemon                965
Strawberries               889
Organic Whole Milk         858
Limes                      848
Name: add_to_cart_order, dtype: int64

In [14]:
top_departamentos = (
    df.groupby("department")["add_to_cart_order"]
      .count()
      .sort_values(ascending=False)
      .head(10)
)

top_departamentos

department
produce            58602
dairy eggs         33321
snacks             17925
beverages          16563
frozen             13747
pantry             11543
bakery              7254
canned goods        6591
deli                6524
dry goods pasta     5340
Name: add_to_cart_order, dtype: int64

In [15]:
orders_sample = orders.sample(200000)

df_orders = orders_sample.merge(order_products_prior_sample, on="order_id", how="inner")

df_orders["order_hour_of_day"].value_counts().sort_index()

order_hour_of_day
0       79
1       33
2       25
3       18
4       14
5       43
6       91
7      333
8      584
9      917
10    1029
11     980
12    1016
13    1034
14     945
15     964
16     870
17     751
18     569
19     461
20     352
21     265
22     222
23     146
Name: count, dtype: int64

In [16]:
top_produtos_df = top_produtos.reset_index()
top_produtos_df.columns = ["produto", "qtd_vendida"]
top_produtos_df

                  produto  qtd_vendida
0                  Banana         2972
1  Bag of Organic Bananas         2336
2    Organic Strawberries         1582
3    Organic Baby Spinach         1478
4    Organic Hass Avocado         1314
5         Organic Avocado         1104
6             Large Lemon          965
7            Strawberries          889
8      Organic Whole Milk          858
9                   Limes          848

In [17]:
top_departamentos_df = top_departamentos.reset_index()
top_departamentos_df.columns = ["departamento", "qtd_vendida"]
top_departamentos_df

      departamento  qtd_vendida
0          produce        58602
1       dairy eggs        33321
2           snacks        17925
3        beverages        16563
4           frozen        13747
5           pantry        11543
6           bakery         7254
7     canned goods         6591
8             deli         6524
9  dry goods pasta         5340

In [18]:
# Contagem de pedidos por hora do dia
pedidos_por_hora = orders["order_hour_of_day"].value_counts().sort_index()

pedidos_por_hora_df = pedidos_por_hora.reset_index()
pedidos_por_hora_df.columns = ["hora_do_dia", "qtd_pedidos"]

pedidos_por_hora_df

    hora_do_dia  qtd_pedidos
0             0        22758
1             1        12398
2             2         7539
3             3         5474
4             4         5527
5             5         9569
6             6        30529
7             7        91868
8             8       178201
9             9       257812
10           10       288418
11           11       284728
12           12       272841
13           13       277999
14           14       283042
15           15       283639
16           16       272553
17           17       228795
18           18       182912
19           19       140569
20           20       104292
21           21        78109
22           22        61468
23           23        40043

In [19]:
# Contagem de pedidos por dia da semana
pedidos_por_dia = orders["order_dow"].value_counts().sort_index()

pedidos_por_dia_df = pedidos_por_dia.reset_index()
pedidos_por_dia_df.columns = ["dia_da_semana", "qtd_pedidos"]

pedidos_por_dia_df

   dia_da_semana  qtd_pedidos
0              0       600905
1              1       587478
2              2       467260
3              3       436972
4              4       426339
5              5       453368
6              6       448761

In [20]:
# Conta quantos produtos h√° para cada order_id
itens_por_pedido = order_products_train.groupby("order_id")["product_id"].count()

media_itens = itens_por_pedido.mean()
media_itens

np.float64(10.552759338155157)

In [3]:
import pandas as pd

aisles = pd.read_csv("data/aisles.csv")
departments = pd.read_csv("data/departments.csv")
order_products_prior = pd.read_csv("data/order_products__prior.csv")
order_products_train = pd.read_csv("data/order_products__train.csv")
orders = pd.read_csv("data/orders.csv")
products = pd.read_csv("data/products.csv")

In [4]:
# Filtra linhas onde o produto foi reordenado
reordenados = order_products_prior[order_products_prior["reordered"] == 1]

# Conta quantas vezes cada produto foi reordenado
top_reordenados = reordenados["product_id"].value_counts().head(10)

# Transformar em DataFrame
top_reordenados_df = top_reordenados.reset_index()
top_reordenados_df.columns = ["product_id", "qtd_reordenado"]

# Juntar com nomes dos produtos
top_reordenados_df = top_reordenados_df.merge(products, on="product_id", how="left")

# Resultado final
display(top_reordenados_df[["product_name", "qtd_reordenado"]])

             product_name  qtd_reordenado
0                  Banana          398609
1  Bag of Organic Bananas          315913
2    Organic Strawberries          205845
3    Organic Baby Spinach          186884
4    Organic Hass Avocado          170131
5         Organic Avocado          134044
6      Organic Whole Milk          114510
7             Large Lemon          106255
8     Organic Raspberries          105409
9            Strawberries           99802

In [5]:
# Salvar top produtos reordenados
top_reordenados_df[["product_name", "qtd_reordenado"]].to_csv("top10_reordenados.csv", index=False)

In [8]:
from pathlib import Path
import shutil

silver_dir = Path("data/silver")
if silver_dir.exists():
    shutil.rmtree(silver_dir)  # remove tudo
silver_dir.mkdir()
print("Pasta Silver limpa!")

Pasta Silver limpa!